{% extends "base.html" %}

{% block content %}
<div class="row">
  <div class="col-md-12 text-center mb-3">
    <h1 class="display-5 fw-bold">News Analysis Application</h1>
  </div>
</div>

{% if user.is_authenticated %}
<div class="row justify-content-center">
    <div class="col-md-5 mb-4">
        <div class="card news-card">
            <div class="card-header">
                <h3 class="mb-0">Welcome - {{ user.username }}</h3>
            </div>
            <div class="card-body d-flex flex-column">
                <p class="card-text">News Analysis helps you explore the emotional tone behind news stories.
                    Browse articles by country and sentiment to get a clearer picture of media narratives.</p>
            </div>
        </div>
    </div>
</div>

<div class="row justify-content-center">
  <div class="col-md-5 mb-4">
    <div class="card news-card">
      <div class="card-header">
        <h3 class="mb-0">India</h3>
      </div>
      <div class="card-body d-flex flex-column">
        <p class="card-text">Explore news articles from India categorized by sentiment.</p>
        <div class="d-grid mt-auto">
          <a href="{% url 'region' 'india' %}" class="btn btn-outline-light">View India News</a>
        </div>
      </div>
    </div>
  </div>
  
  <div class="col-md-5 mb-4">
    <div class="card news-card">
      <div class="card-header">
        <h3 class="mb-0">US</h3>
      </div>
      <div class="card-body d-flex flex-column">
        <p class="card-text">Explore news articles from US categorized by sentiment.</p>
        <div class="d-grid mt-auto">
          <a href="{% url 'region' 'us' %}" class="btn btn-outline-light">View US News</a>
        </div>
      </div>
    </div>
  </div>
</div>

{% else %}
  <div class="row justify-content-center">
    <div class="col-md-5">
      <div class="card shadow">
        <div class="card-header">
          <h3 class="mb-0 text-center">Login</h3>
        </div>
        <div class="card-body">
          <form method="POST" action="">
            {% csrf_token %}
            <div class="mb-3">
              <label for="email" class="form-label">Email</label>
              <input type="email" class="form-control" id="email" name="email" required>
            </div>
            <div class="mb-3">
              <label for="password" class="form-label">Password</label>
              <input type="password" class="form-control" id="password" name="password" required>
            </div>
            <div class="d-grid">
              <button type="submit" class="btn btn-outline-light">Login</button>
            </div>
            <p class="text-center mt-3">Don't have an account? <a href="{% url 'register' %}">Sign Up</a></p>
          </form>
        </div>
      </div>
    </div>
  </div>
</br>
{% endif %}
{% endblock %}